.layout {
    width: 800px;
    background-color: rgba(52, 250, 210, 0.5);
    margin: 0 auto;
    padding: 20px;
    transition: inherit;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

h1 {
    color: rgb(255, 255, 255);
}

.first {
    width: 10px;
}

.colon {
    margin-right: 10px;
}

.canvas {
    margin-top: 20px;
}

.tel-code {
    width: 20px;
}

.tel-num {
    width: 119px;
}

.inputs {
    width: 150px;
}

.full-inputs {
    width: 77%;
}

.right {
    margin-left: 150px;
}

.btn1 {
    margin-left: 167px;
    background-color: rgba(77, 162, 247, 0.5);
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(77, 162, 247, 0.5);
}

.btn {
    margin-top: 10px;
    width: 200px;
    height: 35px;
    color: white;
    transition: inherit;
}

.btn2 {
    margin-left: 10px;
    background-color: rgba(255, 127, 0, 0.5);
    border: 0px;
    box-shadow: 2px 2px 2px 2px rgba(255, 127, 0, 0.5);
}

.colon-align {
    margin-left: 2px;
}

input {
    background-color: rgba(52, 250, 210, 0.2);
    border: 1px solid rgb(255, 255, 255);
    height: 20px;
    text-align: center;
    color: white;
}

body {
    background-repeat: repeat;
    background-size: cover;
    transition: ease-in-out;
    background-image: url(/Agile-CS-Tasks/27-1-23/images/janko-ferlic-sfL_QOnmy00-unsplash.jpg);

}

::placeholder {
    color: white;
}

.foo {
    color: rgb(255, 255, 255);
    text-align: center;
}

.link {
    color: orangered;
    font-weight: 300;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}