table {
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid rgb(2, 2, 2);
    border-bottom: 2px solid rgb(0, 0, 0);
}

td,
th {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}