<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/task-12.css">
    <title>Calc()</title>
</head>
<body>
    <div class="urgent">Urgent</div>
        <div class="do">
            1<br>
            Do
        </div>
        <div class="not-urgent">Not urgent</div>
        <div class="plan">
            2<br>
            Plan
        </div>
        <div class="delegate">
            3<br>
            Delegate
        </div>
        <div class="eliminate">
            4<br>
            Eliminate
        </div>
        <div class="important">Important</div>
        <div class="not-important">Not important</div>
</body>
</html>