<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../CSS/task-13.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="upper"></div>
        <div class="container">
           <!----> <div class="image">
                <img src="../images/serge-kutuzov-nm_UwlzQe_Q-unsplash.jpg" alt="">
            </div>
            <div class="login-form">
                <form>
                    <caption><h3>Login</h3></caption>
                    <hr>
                    <label for="username">UserName</label>
                        <input id="username" class="user-name" name="username" type="text">
                    <label for="password">Password</label>
                        <input type="password" id="password" class="pass" name="password">
                    <label for="checkbox">
                        <input id="checkbox" type="checkbox" value="remember" name="remember">
                        Remember me</label>
                    <button type="submit" value="submit">Sign in</button>
                </form>
                <p>Don't have an account? <a class="link" href="">Sign up</a></p>
                    <h4>Login with social media</h4>
                    <div class="icons">
                    <i class="fa fa-instagram" style="font-size: 25px;"></i>
                    <i class="fa fa-twitter" style="font-size: 25px;"></i>
                    <i class="fa fa-facebook" style="font-size: 25px;"></i>
                </div>
            </div>
        </div>
        <div class="lower"></div>
</body>
</html>