<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Layout</title>
  <link href="../CSS/task-5.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="canvas">
      <h1 class="numbers">TEN</h1>
      <hr class="bar">
      <h1 class="numbers">NINE</h1>
      <hr class="bar">
      <h1 class="numbers">EIGHT</h1>
      <hr class="bar">
      <h1 class="numbers">SEVEN</h1>
      <hr class="bar">
      <h1 class="numbers">SIX</h1>
      <hr class="bar">
      <h1 class="numbers">FIVE</h1>
      <hr class="bar">
      <h1 class="numbers">FOUR</h1>
      <hr class="bar">
      <h1 class="numbers">THREE</h1>
      <hr class="bar">
      <h1 class="numbers">TWO</h1>
      <hr class="bar">
      <h1 class="numbers">ONE</h1>
    </div>
  </div>
</body>

</html>