<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width.initial-scale=1">
  <title>Color Box</title>
  <link href="\Agile-CS-Tasks\25-1-23\CSS/task-1.css" rel="stylesheet">
</head>

<body>
  <center>
    <h1>Color Box</h1>
  </center>
  <div class="frame">
    <div class="canvas">
      <div class="red"></div>
      <div class="blue"></div>
    </div>
    <div class="canvas green"></div>
    <div class="canvas">
      <div class="light-green"></div>
      <div class="pink"></div>
      <div class="violet"></div>
    </div>
    <div class="canvas">
      <div class="orange"></div>
      <div class="yellow"></div>
    </div>
    <div class="canvas">
      <div class="dark-green"></div>
      <div class="cyan"></div>
      <div class="brown"></div>
      <div class="dark-blue"></div>
    </div>
    <div class="canvas black"></div>
  </div>
</body>

</html>