.canvas {
  display: inline-flex;
}

.frame {
  width: 500px;
  padding: 10px 20px;
  padding-bottom: 2px;
  margin: 20px auto;
  background-color: lightgray;
}

.red {
  width: 150px;
  height: 50px;
  background-color: red;
  margin-right: 10px;
}

.blue {
  height: 50px;
  width: 340px;
  background-color: blue;

}

.green {
  height: 100px;
  width: 100%;
  background-color: rgba(90, 87, 0, 0.801);

}

.light-green {
  background-color: rgb(127, 255, 0);
  height: 50px;
  width: 160px;
  margin-right: 10px;
}

.pink {
  background-color: rgb(255, 0, 255);
  height: 50px;
  width: 160px;
  margin-right: 10px;
}

.violet {
  background-color: blueviolet;
  height: 50px;
  width: 160px;
}

.orange {
  background-color: rgb(255, 127, 0);
  height: 60px;
  width: 245px;
  margin-right: 10px;
}

.yellow {
  background-color: rgb(255, 255, 0);
  height: 60px;
  width: 245px;
}

.dark-green {
  background-color: green;
  height: 25px;
  width: 117.5px;
  margin-right: 10px;
}

.cyan {
  height: 25px;
  width: 117.5px;
  background-color: rgba(0, 255, 255, 0.696);
  margin-right: 10px;
}

.brown {
  height: 25px;
  width: 117.5px;
  background-color: brown;
  margin-right: 10px;
}

.dark-blue {
  height: 25px;
  width: 117.5px;
  background-color: rgb(0, 0, 255);
}

.black {
  background-color: black;
  width: 100%;
  height: 10px;
}

.frame>div {
  margin-bottom: 10px;
}