.container {
    width: 600px;
    margin: auto;
    background-color: lightgray;
    padding: 20px;
    position: relative;
}

.image {
    min-width: 110px;
    min-height: 150px;
    top: 14%;
    left: 80%;
    width: 110px;
    height: 150px;
    position: absolute;
}