<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Design</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width,initial-scale=1.0">
        <link rel="stylesheet" href="/Agile-CS-Tasks/27-1-23/CSS/task-7.css">
    </head>
    <body>
        <div class="container">
            <div class="small-length">
                <h2>do it</h2>
            </div>
            <div class="large-length">
                <h2>Today main focus</h2>
                <h1>Design team meeting</h1>
                <div class="three-dots">
                    <hr class="pink-dot">
                    <hr class="cyan-dot">
                    <hr class="yellow-dot">
                </div>
                <section class="select-design">
                    <div class="question one">
                        <hr class="pink-dot dot">work out<input type="checkbox">
                    </div>
                    <div class="question">
                        <p>Design team meeting</p>
                    </div>
                    <div class="question">
                        <p>Hand off the project</p>
                    </div>
                    <div class="question">
                        <p>Read 5 pages of "sprint"</p>                       
                    </div>
                </section>
            </div>
    </body>
</html>