<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form Layout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width,initial-scale=1">
        <link rel="stylesheet" href="/Agile-CS-Tasks/27-1-23/CSS/task-6.css">
    </head>
    <body>
        <main>
            <header>
                <center><h1>PRODUCT ORDER FORM</h1></center>
                <div class="layout">
                    <div class="container">
                        <form class="form-inline">
                    <div class="canvas">
                        <label for="firstname" class="">FIRST NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="colon">:</span>
                        <input name="firstname" type="text" required class="inputs" placeholder="Your First Name">
                    </label>
                    <label for="lastname" class="right">LAST NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="colon">:</span>
                        <input type="text" name="lastname" required class="inputs" placeholder="Your Last Name">
                    </label>
                </div>
                <div class="canvas">
                    <label for="email">EMAIL ADDRESS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="colon">:</span>
                        <input id="email" type="text" required class="inputs" placeholder="MailExample.com">
                    </label>
                    </div>
                    <div class="canvas">
                    <label for="phone">PHONE NUMBER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="colon">:</span>
                        <input type="tel" id="phone" required class="tel-code" placeholder="??">
                        <input type="tel" id="phone" required class="tel-num" placeholder="???????">
                    </label>
                </div>
                <div class="canvas inline">
                    <label for="billing">BILLING ADDRESS &nbsp;<span class="colon colon-align">:</span>
                        <input type="text" id="billing" class="full-inputs" placeholder="Billing Address">
                    </label>
                </div>
                <div class="canvas inline">
                    <label for="address">YOUR ADDRESS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="colon">:</span>
                        <input type="text" id="address" class="full-inputs" placeholder="Your Address">
                    </label>
                </div>
                <div class="canvas">
                    <label for="city" class="">CITY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="colon">:</span>
                        <input type="text" id="city" class="inputs" placeholder="Your City">
                    </label>
                    <label for="state" class="right">STATE/PROVINCE&nbsp;&nbsp;&nbsp;<span class="colon">:</span>
                        <input type="text" id="state" class="inputs" placeholder="Your State or Province">
                    </label>
                </div>
                <div class="canvas">
                    <label for="zip" class="">ZIP CODE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="colon colon-align">:</span>
                        <input type="text" id="zip" class="inputs" placeholder="Zip Code">
                    </label>
                    <label for="country" class="right">COUNTRY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="colon">:</span>
                        <input type="text" od="country" class="inputs" placeholder="Country">
                    </label>
                </div>
                <button class="btn btn1" value="submit">PLACE ORDER</button>
                <button class="btn btn2" value="reset"> RESET</button>
                    </form>
                </div>
                </div>
            </header>
        </main>
        </body>
        </html>