<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Table</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width,initial-scale=1">
        <link rel="stylesheet" href="/Agile-CS-Tasks/27-1-23/CSS/task-8.css">
    </head>
    <body>
        <center><h1> Utilizing HTML and CSS, make the table</h1></center>
        <center><table>
            <tr>
                <th rowspan="2" ></th>
                <th colspan="2">Average</th>
                <th rowspan="2" >Red Eyes</th>
            </tr>
            <tr>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr>
                <th>Males</th>
                <td>1.9</td>
                <td>0.003</td>
                <td>40%</td>
            </tr>
            <tr>
                <th>Females</th>
                <td>1.7</td>
                <td>0.002</td>
                <td>47%</td>
            </tr>
        </table>
        </center>
    </body>
</html>