<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/Tasks/25-01-23/task.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width = devvice-width, initial-scale = 1.0">
     <title>product order form</title>
</head>
<body>
    <h1>PRODUCT ORDER FORM</h1>
    <div id="container">
        <form>
            <label for="fname">
                FIRST NAME </label>:<input id="fname" type="text" placeholder="Your First Name">
            <label for="lname" class="label-right">
                LAST NAME </label>:<input id="lname" type="text" placeholder="Your Last Name">
            <br>
            <label for="email">
                EMAIL ADDRESS </label>:<input id="email" type="email" placeholder="mail@example.com">
            <br>
            <label for="phone num">
                PHONE NUMBER </label>:<input id="phone" type="number" placeholder="+??" class="num-code"><input id="num"
                type="number" placeholder="??????????" class="num">
            <br>
            <label for="billing-address">
                BILLING ADDRESS </label>:<input id="billing-address" type="text" placeholder="Billing Address"
                class="address-input">
            <br>
            <label for="your-address">
                YOUR ADDRESS </label>:<input id="your-address" type="text" placeholder="Your Address"
                class="address-input">
            <br>
            <label for="city">
                CITY </label>:<input id="city" type="text" placeholder="Your City">
            <label id="state" class="label-right">
                STATE/PROVINCE</label>:<input id="state" type="text" placeholder="Your State or Province">
            <br>
            <label for="zip-code">
                ZIP CODE </label>:<input id="zip-code" type="number" placeholder="Zip Code">
            <label for="country" class="label-right">COUNTTY </label>:<input id="country" placeholder="Country"><br>

            <button type="submit" value="PLACEORDER" class="btn-blue">PLACEORDER</button> <button type="reset"
                value="RESET" class="btn-orange">RESET</button>
        </form>
    </div>
    <footer>
        @2017 Product Order Form.All Rights Reserved / Design by <a href="#"> W3Layouts</a>
    </footer>
</body>
</html>