<!DOCTYPE html>
<html lang="en">

<head>
    <title>Design</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width,initial-scale=1.0">
    <link rel="stylesheet" href="/Agile-CS-Tasks/27-1-23/CSS/task-7.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="small-length">
            <div class="first-container">
                <img class="image" src="/Agile-CS-Tasks/27-1-23/images/Picsart_23-01-30_11-45-49-936.jpg">
                <div class="top-head">
                    <h3>Do-it</h3>
                    <h3 class="child2">JEEVITHAN</h3>
                </div>
            </div>
            <div class="bar"></div>
            <div class="task">
                <h4 class="head4"><a class="icon"><i class="fa fa-columns"></i></a>Today tasks</h4>
                <div>
                    <hr class="pink-dot">
                    <p>Personal</p>
                </div>
                <div>
                    <hr class="yellow-dot">
                    <p>Freelance</p>
                </div>
                <div>
                    <hr class="cyan-dot">
                    <p>Work</p>
                </div>
            </div>
            <h4 class="head4 hed"><a class="icon"><i class="fa fa-columns"></i></a>Scheduled tasks</h4>
            <h4 class="head4 hed"><a class="icon"><i class="fa fa-gear"></a></i>Settings</h4>
        </div>


        <div class="large-length">
            <h2>Today main focus</h2>
            <h1>Design team meeting</h1>
            <div class="three-dots">
                <hr class="pink-dot">
                <hr class="cyan-dot">
                <hr class="yellow-dot">
                <p class="para">what is your next task?</p>
            </div>
            <section class="select-design">
                <div class="question one">
                    <hr class="pink-dot dot"><label>WorkOut</label><span>9.00 am</span><input type="checkbox">
                </div>
                <div class="question one">
                    <hr class="cyan-dot dot"><label>Design team meeting</label><span>2.30 pm</span><input
                        type="checkbox">
                </div>
                <div class="question one">
                    <hr class="yellow-dot dot"><label>Hand off the project</label><span>7.00 pm</span><input
                        type="checkbox">
                </div>
                <div class="question one">
                    <hr class="green-dot dot"><label>Read 5 pages of "sprint"</label><span>10.30 pm</span><input
                        type="checkbox">
                </div>
            </section>
        </div>
</body>

</html>