/* CSS for Tablet */
@media only screen and (min-width:501px) and (max-width:768px) {
    .canvas-one{
        display: grid;
        grid-template-columns: 1fr;
    }
    .canvas-two{
        grid-template-columns: 1fr;
    }
    .canvas-three{
        grid-template-columns: 1fr;
    }
    .canvas-five{
        grid-template-columns: 1fr 1fr;
    }
  }
  /* CSS for Mobile */
  @media only screen and (max-width:500px){
    .container > *{
        display: grid;
        grid-template-columns: 1fr;
    }
  }