/* CSS for Tablet */
@media only screen and (min-width:501px) and (max-width:768px) {
    .container{
        grid-template-rows: 90px 140px 90px 100px 60px 25px;
    }
    .canvas1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .canvas3{
        grid-template-columns: 1fr;
    }
    .canvas4{
        grid-template-columns: 1fr;
    }
    .canvas5{
        grid-template-columns: 1fr 1fr;
    }
  }
  /* CSS for Mobile */
  @media only screen and (max-width:500px){
    .container{
        grid-template-rows: 90px 140px 90px 100px 180px 5px;
        height: auto;
    }
    .canvas1,.canvas2,.canvas3,.canvas4,.canvas5,.canvas6{
        display: grid;
        grid-template-columns: 1fr;
    }
    .r1-c1,.r1-c2,.r2-c1,.r3-c1,.r3-c2,.r3-c3,.r4-c1,.r4-c2,.r5-c1,.r5-c2,.r5-c3,.r5-c4,.r6-c1{
        width: 100%;
    }
  }