<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width.initial-scale=1">
  <title>Color Box</title>
  <link href="/Agile-CS-Tasks/31-1-23/CSS/task-10.css" rel="stylesheet">
  <link rel="stylesheet" href="/Agile-CS-Tasks/31-1-23/responsivestyle/task-10-RS.css">
</head>

<body>
  <center>
    <h1>Color Box</h1>
  </center>
  <div class="frame">
    <div class="container">
      <div class="canvas1">
        <div class="one"></div>
        <div class="two"></div>
      </div>
      <div class="canvas2"></div>
      <div class="canvas3">
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
      </div>
      <div class="canvas4">
        <div class="six"></div>
        <div class="seven"></div>
      </div>
      <div class="canvas5">
        <div class="eight"></div>
        <div class="nine"></div>
        <div class="ten"></div>
        <div class="eleven"></div>
      </div>
      <div class="canvas6"></div>
    </div>
  </div>
</body>

</html>