<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Agile-CS-Tasks/31-1-23/CSS/task-10.css">
    <link rel="stylesheet" href="/Agile-CS-Tasks/31-1-23/responsivestyle/task-10-RS.css"
</head>
<body>
    <div class="container">
        <div class="canvas1">
            <div class="r1-c1"></div>
            <div class="r1-c2"></div>
        </div>
        <div class="canvas2">
        </div>
        <div class="canvas3">
            <div class="r3-c1"></div>
            <div class="r3-c2"></div>
            <div class="r3-c3"></div>
        </div>
        <div class="canvas4">
            <div class="r4-c1"></div>
            <div class="r4-c2"></div>
        </div>
        <div class="canvas5">
            <div class="r5-c1"></div>
            <div class="r5-c2"></div>
            <div class="r5-c3"></div>
            <div class="r5-c4"></div>
        </div>
        <div class="canvas6">
            <div class="r6-c1"></div>
        </div>
    </div>
</body>
</html>