<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Agile-CS-Tasks/31-1-23/CSS/task-10.css">
    <link rel="stylesheet" href="/Agile-CS-Tasks/31-1-23/responsivestyle/task-10-RS.css">
</head>
<body>
    <div class="container">
        <div class="canvas-one">
            <div class="red"></div>
            <div class="brown"></div>
        </div>
        <div class="canvas-two">
        </div>
        <div class="canvas-three">
            <div class="green-one"></div>
            <div class="light-pink"></div>
            <div class="green-two"></div>
        </div>
        <div class="canvas-four">
            <div class="gray"></div>
            <div class="light-green"></div>
        </div>
        <div class="canvas-five">
            <div class="green-three"></div>
            <div class="blue"></div>
            <div class="black"></div>
            <div class="violet"></div>
        </div>
        <div class="canvas-six">
        </div>
    </div>
</body>
</html>