<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Website</title>
    <link rel="stylesheet" href="/Agile-CS-Tasks/31-1-23/CSS/task-11.css">
    <link rel="styesheet" href="/Agile-CS-Tasks/31-1-23/responsivestyle/task-11-RS.css">
</head>

<body>
    <div class="main">
        <div class="head">
            <div>
                <h1 class="head-title">My Website</h1>
            </div>
            <div class="nav-bar">
                <a class="link">Link1</a>
                <a class="link">Link1</a>
                <a class="link">Link1</a>
            </div>
        </div>
        <div class="right-body">
            <p>igqwilwbqfrgfyrfrbgqkygwcbvkyugwechdvckqruegudchyegrq</p>
        </div>
    </div>
</body>

</html>