<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Website</title>
    <link rel="stylesheet" href="../CSS/task-11.css">
    <link rel="stylesheet" href="../responsivestyle/task-11-RS.css">
</head>
<body>
    <div class="grid-container">
        <div class="header">
            <div>
                <h1 class="head-title">My Website</h1>
            </div>
            <div class="nav-bar">
                <a class="link">Link1</a>
                <a class="link">Link1</a>
                <a class="link">Link1</a>
            </div>
        </div>
        <div class="right">
            <p>Have you discovered all of other excellent content website</p>
        </div>
        <div class="main">
            <h4>This is the main heading</h4>
            <p>Veggies bonusW3Schools is optimized for learning and training. Examples might be simplified to improve reading and learning.
                <br><br> Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using W3Schools, you agree to have read and accepted our terms of use, cookie and privacy policy. </p>
        </div>
        <div class="card-one card">
            <div class="card-title"><h3 class="title">&nbsp;&nbsp;&nbsp;Card One</h3></div>
            <p class="para">Veggies bonusW3Schools is optimized for learning and training. Examples might be simplified to improve reading and learning.</p>
        </div>
        <div class="card-two card">
            <div class="card-title"><h3 class="title">&nbsp;&nbsp;&nbsp;Card two</h3></div>
            <p class="para">Veggies bonusW3Schools is optimized for learning and training. Examples might be simplified to improve reading and learning.</p>
        </div>
        <div class="card-three card">
            <div class="card-title"><h3 class="title">&nbsp;&nbsp;&nbsp;Card three</h3></div>
            <p class="para">Veggies bonusW3Schools is optimized for learning and training. Examples might be simplified to improve reading and learning.</p>
        </div>
        <div class="card-four card">
            <div class="card-title"><h3 class="title">&nbsp;&nbsp;&nbsp;Card four</h3></div>
            <p class="para">Veggies bonusW3Schools is optimized for learning and training. Examples might be simplified to improve reading and learning.</p>
        </div>
        <div class="card-five card">
            <div class="card-title"><h3 class="title">&nbsp;&nbsp;&nbsp;Card five</h3></div>
            <p class="para">Veggies bonusW3Schools is optimized for learning and training. Examples might be simplified to improve reading and learning.</p>
        </div>
    </div>
</body>

</html>