:root{
    --background-color1:rgb(48, 47, 47);
    --text-color1:rgb(255,255,255);
}
.header{
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-color1);
    color: var(--text-color1);
    gap: 70%;
}
.link{
    margin-top: 35px;
    margin-left: 10px;
}
.nav-bar{
    display:inline-flex;
    float: right;
}
.head-title{
    margin-left: 10px;
    font-style: italic;
}
.right{
    background-color: var(--background-color1);
    color: var(--text-color1);
    padding: 20px;
}
.card{
    border: 2px solid var(--background-color1);
}
.title{
    color: var(--text-color1);
    margin-top:0;
    height: 25px;
}
.para{
    margin: 20px;
}
.header {grid-area: head;}
.right {grid-area: right;}
.main {grid-area: main;}
.card-one{grid-area: one;}
.card-two{grid-area: two;}
.card-three{grid-area: three;}
.card-four{grid-area: four;}
.card-five{grid-area: five;}

.grid-container{
    display: grid;
    grid-template-areas:
    'head head head head'
    'main main main right'
    'one two three right'
    'four five unset right';
    gap:11px;
}
.card-title{
    background-color: var(--background-color1);
    height: 25%;
}