.container{
  background-color: white;
  display: grid;
  gap: 10px;
  width: 100%;
}
.canvas-one{
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  overflow: hidden;
}
.red{
  background-color: red;
  height: 90px;
}
.brown{
  background-color: brown;
  height: 90px;
}
.canvas-two{
  display: grid;
  grid-template-columns: 1fr;
  background-color: orange;
  height: 140px;
}
.canvas-three{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.green-one{
  background-color: green;
  height: 90px;
}
.light-pink{
  background-color: pink;
  height: 90px;
}
.green-two{
  background-color: darkolivegreen;
  height: 90px;
}
.canvas-four{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.gray{
  background-color: gray;
  height: 100px;
}
.light-green{
  background-color: lawngreen;
  height: 100px;
}
.canvas-five{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.green-three{
  background-color: darkgreen;
  height: 50px;
}
.blue{
  background-color: darkblue;
  height: 50px;
}
.black{
  background-color: black;
  height: 50px;
}
.violet{
  background-color: blueviolet;
  height: 50px;
}
.canvas-six{
  display: grid;
  gap: 10px;
  background-color: yellow;
  height: 25px;
}